/* Styles */

body {
    height: 200vh;
    background: radial-gradient(#ffffff, #2b6ced); 
  }

 .main{
    width:1000px;
    height:600px;
    position:relative;
    margin:0 auto;
 }

 .wrapper{
    width:500px;
    height:300px;
    position:absolute;
    top:200px;
    left:250px;
    z-index:5;
 }

 .container{
    width:400px;
    height:60px;
    position:absolute;
    top:30px;
    left:50px;
 }

 #city{
    width:250px;
    height:40px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid darkblue;
    padding-left:10px;
 }

 #city::placeholder{
    color:darkblue;
    font-size:18px;
 }



 #search_btn{
    padding:10px;
    margin-left:10px;
    margin-top:10px;
    border:none;
    border-radius: 5px;
    font-weight: bold;
    font-size:16px;
   
 }


 

 .wrapper_fon{
    width:500px;
    height:300px;
    position:absolute;
    top:200px;
    left:250px;
    background-color:white;
    opacity: 0.3;
    z-index:3;
    border-radius:20px;
 }