/* Styles */

body {
    height: 200vh;
    background: radial-gradient(#ffffff, #2b6ced); 
  }

 .main{
    width:1000px;
    height:600px;
    position:relative;
    margin:0 auto;
    text-align: center;
 }
 

h1{
    color:darkred;
    padding-top:30px;
    text-shadow: 2px 2px 2px white;
}

 .wrapper{
    width:500px;
    height:300px;
    position:absolute;
    top:200px;
    left:250px;
    z-index:5;
 }

 .container{
    width:400px;
    height:60px;
    position:absolute;
    top:30px;
    left:50px;
 }

 #city{
    width:250px;
    height:40px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid darkblue;
    padding-left:10px;
    font-size:18px;
 }

 #city::placeholder{
    color:darkblue;
    font-size:18px;
 }



 #search_btn{
    padding:10px;
    margin-left:10px;
    margin-top:10px;
    border:none;
    border-radius: 5px;
    font-weight: bold;
    font-size:16px;
   
 }


 #result{
    width:400px;
    height:160px;
    position:absolute;
    top:60px;
    left:2px;
    background-color:green;
 }

 

 .wrapper_fon{
    width:500px;
    height:300px;
    position:absolute;
    top:200px;
    left:250px;
    background-color:white;
    opacity: 0.3;
    z-index:3;
    border-radius:20px;
 }


 .shape1{
    width:140px;
    height:140px;
    background-color: #6B93CB;
    opacity: 0.4;
    border-radius: 70px;
    box-shadow: 5px 5px 5px white;
    position:absolute;
    top:110px;
    left:160px;
    z-index:2;
 }

 .shape2{
    width:50px;
    height:50px;
    background-color: #6B93CB;
    opacity: 0.4;
    border-radius: 25px;
    box-shadow: 5px 5px 5px white;
    position:absolute;
    top:300px;
    left:160px;
    z-index:2;
 }


 .shape3{
    width:180px;
    height:180px;
    background-color: #6B93CB;
    opacity: 0.4;
    border-radius: 90px;
    box-shadow: -5px -5px 5px white;
    position:absolute;
    top:390px;
    left:660px;
    z-index:2;
 }

 .shape4{
    width:40px;
    height:40px;
    background-color: #6B93CB;
    opacity: 0.4;
    border-radius:20px;
    box-shadow: 5px 5px 5px white;
    position:absolute;
    top:60px;
    left:660px;
    z-index:2;
 }



 .shape5{
    width:30px;
    height:30px;
    background-color: #6B93CB;
    opacity: 0.4;
    border-radius:15px;
    box-shadow: 5px 5px 5px white;
    position:absolute;
    top:25px;
    left:100px;
    z-index:2;
 }



 /* Result's elements */

 .name{
   margin-top:3px;
   font-size:24px;
   color:darkred;
   font-weight: bold;
 }


 .weather{
   margin-top:-12px;
   font-weight: bold;
   font-size:18px;
 }


 #result img{
   margin-top:-15px;
 }

 .temp{
   font-size:19px;
   font-weight: bold;
   margin-top:0px;
 }