/* Styles */

body {
    height: 200vh;
    background: radial-gradient(#ffffff, #2b6ced); 
  }

 .main{
    width:1000px;
    height:600px;
    position:relative;
    margin:0 auto;
    background-color: yellow;
 }

 .wrapper{
    width:500px;
    height:300px;
    position:absolute;
    top:200px;
    left:250px;
    background-color: green;
 }